@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.back{
  background: rgb(16,5,50);
background: linear-gradient(307deg, rgba(16,5,50,1) 9%, rgba(70,44,102,1) 35%, rgba(78,66,99,1) 69%, rgba(81,80,84,1) 97%);
background-size: cover;
background-position: center;
}
.back1{
  background: rgb(5,7,50);
background: linear-gradient(307deg, rgba(5,7,50,1) 9%, rgba(52,44,102,1) 35%, rgba(73,66,99,1) 69%, rgba(70,53,121,1) 97%);
}
.fon{
  font-family: "nunito";
}